<section class="b-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <a href="">
          <img src="img/build.jpg" alt="Building">
        </a>
      </div>
      <div class="col-md-7">
        <div class="t-b">
          <time>11 октября 2018</time>
          <h5><a href="">Заголовок статьи в одну или две строки</a></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nisl nisl. Vestibulum feugiat enim dolor, in blandit erat ultrices eu. Aenean in velit in ipsum luctus feugiat in vel nisi. Vivamus egestas ligula quis dolor maximus
            blandit.
            Nam pellentesque, est a sodales fermentum, odio magna elementum magna...</p>
        </div>
      </div>
      <div class="col-md-5">
        <a href="">
          <img src="img/build.jpg" alt="Building">
        </a>
      </div>
      <div class="col-md-7">
        <div class="t-b">
          <time>11 октября 2018</time>
          <h5><a href="">Заголовок статьи в одну или две строки</a></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nisl nisl. Vestibulum feugiat enim dolor, in blandit erat ultrices eu. Aenean in velit in ipsum luctus feugiat in vel nisi. Vivamus egestas ligula quis dolor maximus
            blandit.
            Nam pellentesque, est a sodales fermentum, odio magna elementum magna...</p>
        </div>
      </div>
      <div class="col-md-5">
        <a href="">
          <img src="img/build.jpg" alt="Building">
        </a>
      </div>
      <div class="col-md-7">
        <div class="t-b">
          <time>11 октября 2018</time>
          <h5><a href="">Заголовок статьи в одну или две строки</a></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nisl nisl. Vestibulum feugiat enim dolor, in blandit erat ultrices eu. Aenean in velit in ipsum luctus feugiat in vel nisi. Vivamus egestas ligula quis dolor maximus
            blandit.
            Nam pellentesque, est a sodales fermentum, odio magna elementum magna...</p>
        </div>
      </div>
    </div>
  </div>
</section>