<section class="first first_proc">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <ul class="b-c">
          <li class="b-c__item">
            <a href="">
              <span>Главная</span>
            </a>
          </li>
          <li class="b-c__item">
            <a href="https://migronis.com/cases">
              <span>Контакты</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-8 text-center">
        <h1>Контакты</h1>
      </div>
    </div>
  </div>
</section>