<section class="order order_3">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-10">
        <h2>Получите индивидуальную консультацию бесплатно</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="t-b">
          <p>Свяжитесь с нами по телефонам:</p>
          <ul class="contacts">
            <li>
              <a href="tel:37052080929"><img src="img/EU.svg" alt="EU">+ 3 705 208 09 29</a>
            </li>
            <li>
              <a href="tel:74993502137"><img src="img/ru.svg" alt="RU">+ 7 499 350 21 37</a>
            </li>
            <li>
              <a href="tel:79856695243"><img src="img/wa.svg" alt="whatsapp">+ 7 985 669 52 43</a>
            </li>
            <li>
              <a href="skype:migronis_skype?call"><img src="img/skype.svg" alt="skype">migronis_skype</a>
            </li>
            <li>
              <a href="mailto:migronis@gmail.com"><img src="img/mail.svg" alt="mail">migronis@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <p>Или отправьте запрос на консультацию:</p>
        <form action="">
          <input type="text" name="name" placeholder="Имя" required>
          <input type="text" name="mail" placeholder="E-mail" required>
          <input type="phone" name="phone" placeholder="Телефон" required>
          <input type="submit" value="Отправить" class="btn">
        </form>
      </div>
    </div>
  </div>
</section>