<section class="representative">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-9">
        <h2>Why you should become a migronis representative</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus nisi suscipit hendrerit tempus</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p><strong>Exclusive services for your high-end customers.</strong> The majority of high net worth individuals travel a lot. They might be interested in getting a visa-free access to more than 150 countries, as well as optimising business
          and taxes,
          getting asset protection. </p>
        <p><strong>Remuneration.</strong> Majority of deals are closed with the help of representatives - like yourself - who are in the position to provide advice to their high net worth individuals clientele.</p>
        <p><strong>No extra involvement from your side.</strong> We completely support the whole process of obtaining citizenship & residency by investment and take care of all the necessary documents. Your main and only role is to send us a
          referral.</p>
        <p><strong>We provide our representatives with all the necessary information</strong> about residency & citizenship by investment programs.</p>
      </div>
    </div>
  </div>
</section>