<div class="oath">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
          <div class="y-tube">
            <img src="img/ytube.jpg" alt="Youtube">
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <h2>Присяга</h2>
        <p>Чтобы стать гражданином Вануату, инвестор должен принести присягу на верность. Сделать это можно в Вануату, в его консульстве в Бейруте, Стамбуле или Дубае.</p>
        <p>Принести присягу также можно в стране проживания — для этого необходимо присутствие комиссара для приведения к присяге и оплата всех расходы, связанных с его трансфером и проживанием (примерно $5000–8000).</p>
      </div>
    </div>
  </div>
</div>