<section class="additional">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <h2>Дополнительные документы</h2>
      </div>
      <div class="col-lg-6">
        <p>После получения паспорта, компания Мигронис предлагает постиммиграционное обслуживание:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="ben">
          <li>Получение водительских прав на Вануату, адреса регистрации, местного телефонного номера, а также иных документов.</li>
          <li>Регистрация фирмы и оформление счета в местном банке.</li>
          <li>Восстановление и замена паспорта в течение одной-двух недель в случае потери/порчи/окончания срока действия без посещения острова.</li>
        </ul>
        <p><strong>*Чтобы открыть счет и оформить водительские права необходимо посетить Вануату.</strong></p>
        <div class="passport">
          <div class="p-b1">
            <img src="img/pass.png" alt="Passport Vanuatu">
          </div>
          <div class="p-b2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus nisi suscipit hendrerit tempus. Ut eu imperdiet eros. Curabitur rhoncus tempus arcu at hendrerit. Phasellus consequat libero eget turpis cursus, eu vehicula
              turpis pretium. Aliquam elementum ultrices leo, vitae auctor justo imperdiet nec.</p>
            <p>Etiam in elit vel dolor rutrum fermentum a in elit. Nam ut sapien ut mauris luctus hendrerit ut sed mauris. Mauris fringilla rutrum sem, sit amet sagittis nisl. Aenean vulputate nulla velit, et molestie libero sollicitudin et.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>