<section class="stages">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <h2>Этапы получения гражданства</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="stages-b">
          <span>Шаг 1</span>
          <h3>Заключение договора</h3>
          <p>Предварительная проверка и заключение договора в офисе или в дистанционном режиме.</p>
          <p>На этом этапе инвестор должен предоставить копии загранпаспортов членов семьи, которые будут включены в заявку на получение гражданства.</p>
          <p><strong>Результат</strong> — отчет о предварительной проверке и подписанный договор.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="stages-b">
          <span>Шаг 2</span>
          <h3>Подготовка документов</h3>
          <p>Наши юристы получают справки о несудимости, заполняют правительственные анкеты, заверяют копии документов у нотариуса, переводят пакет документов, а затем отправляет его в агентство по гражданству на Вануату.</p>
          <p>От инвестора требуется предоставить оригиналы документов, подписать анкеты и другие документы, подготовленные компанией.</p>
          <p><strong>Результат</strong> — <a href="">уведомление о получении правительством документов.</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="stages-b">
          <span>Шаг 3</span>
          <h3>Рассмотрение кейса</h3>
          <p>Проверка кандидата агентством по гражданству (от 3 недель до 2 месяцев). Лететь на остров не требуется.</p>
          <p><strong>Результат</strong> — <a href="">вынесено одобрительное решение.</a></p>
          <p>На этом этапе инвестор должен внести инвестицию в течение месяца после одобрения.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="stages-b">
          <span>Шаг 4</span>
          <h3>Получение паспорта</h3>
          <p>После внесения инвестиции и госпошлин инвестор получает свидетельство о натурализации и паспорт Вануату.</p>
          <ul>
            <li><strong>Результат</strong> — <a href="">свидетельство о натурализации</a> + <a href="">паспорт Вануату.</a></li>
            <li><strong>Срок действия паспорта</strong> — 5 лет. </li>
            <li><strong>Замена паспорта</strong> — бесплатно и не требует визита на остров.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>