<section class="news">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-9">
        <h3>Подпишитесь на полезные новости</h3>
        <p>И начните получать статьи на e-mail прямо сейчас. Вы в любой момент можете отписаться от рассылки в один клик, если вопрос станет для Вас неактуальным.</p>
        <form action="">
          <input type="text" name="mail" placeholder="Введите Ваш Email" required="">
          <input type="submit" value="Отправить" class="btn">
        </form>
        <p><strong>На нашу рассылку уже подписались 12400+ человек!</strong></p>
      </div>
    </div>
  </div>
</section>