<section class="same">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h3>Похожие статьи</h3>
        <ul>
          <li>
            <time>11 октября 2018</time>
            <a href="">Заголовок статьи в одну или две строки</a>
          </li>
          <li>
            <time>11 октября 2018</time>
            <a href="">Заголовок статьи в одну или две строки</a>
          </li>
          <li>
            <time>11 октября 2018</time>
            <a href="">Заголовок статьи в одну или две строки</a>
          </li>
          <li>
            <time>11 октября 2018</time>
            <a href="">Заголовок статьи в одну или две строки</a>
          </li>
          <li>
            <time>11 октября 2018</time>
            <a href="">Заголовок статьи в одну или две строки</a>
          </li>
          <li>
            <time>11 октября 2018</time>
            <a href="">Заголовок статьи в одну или две строки</a>
          </li>
          <li>
            <time>11 октября 2018</time>
            <a href="">Заголовок статьи в одну или две строки</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>