@media screen and (max-width: 991px)
  .header
    &__top
      justify-content: space-between
      .socials, .lang
        display: none

  .mob
    &-burg, &-phone
      display: block
    &-burg
      .lang
        display: block
    &-phone
      .socials
        display: block
