@import libs

=frn
  display: flex
  flex-flow: row nowrap

=frw
  display: flex
  flex-flow: row wrap

body
  font-family: Montserrat
  font-size: 15px
  font-weight: 400
  color: #2E2E2E
  background: #fff
  &.active
    overflow: hidden

a
  text-decoration: none
  color: inherit
  &:hover
    color: inherit

h1
  font-size: 45px
  line-height: 55px
  font-weight: 600
  text-transform: uppercase
  margin-bottom: 12px

h2
  font-size: 40px
  line-height: 50px
  font-weight: 600

h3
  font-size: 26px
  line-height: 32px
  font-weight: 600

p
  font-size: 15px
  line-height: 24px

strong
  font-weight: 600

input
  background: #FFFFFF
  border: 1px solid rgba(46, 46, 46, 0.26)
  box-sizing: border-box
  border-radius: 3px
  padding: 0 0 0 20px
  height: 50px
  color: rgba(46, 46, 46, 0.45)
  max-width: 470px
  width: 100%
  &::placeholder
    color: rgba(46, 46, 46, 0.45)

.logo
  text-transform: uppercase
  font-size: 21px
  font-weight: 600

.socials
  +frn

  align-items: center

  a
    &:nth-of-type(1)
      font-size: 15px
      font-weight: 600

  .fa-telegram, .fa-whatsapp
    font-size: 23px
    position: relative
    z-index: 2

  .fa-telegram
    &::before
      position: relative
      z-index: 2

    &::after
      content: ""
      width: 100%
      height: 100%
      display: block
      position: absolute
      z-index: 1
      top: 0
      left: 0
      background: #fff
      border-radius: 50%

  .fa-telegram
    color: #1f96d4

  .fa-whatsapp
    color: #01e677

.lang
  font-size: 13px
  line-height: 16px
  text-transform: uppercase
  color: #fff
  font-weight: 600
  position: relative
  &-wrap
    height: 22px
    width: 22px
    border-radius: 50%
    margin-right: 5px
    overflow: hidden
  &-h
    display: none
    position: absolute
    top: calc(100% + 21px)
    &.active
      display: block
  a
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-flow: row nowrap
    align-items: center
  img
    height: 100%
    width: 100%

.cyan
  background: linear-gradient(146.18deg, rgba(122, 220, 232, 0.52) 9.65%, rgba(122, 220, 232, 0) 45.45%), #59B1BC
  border-radius: 3px
  padding: 20px 35px 20px 65px
  position: relative

  &::before
    content: url("../img/vos.svg")
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 30px

.a-pr
  width: 100%
  +frw
  &-img-w
    flex: 0 1 42%
    position: relative
    z-index: 3
    p
      max-width: 350px
      width: 100%
      position: absolute
      bottom: 20px
      left: 30px
      z-index: 2
      color: #fff
    img
      position: relative
      width: 100%
      height: 100%
      z-index: 1
  &-cont
    flex: 0 1 58%
    background: #59B1BC
    border-radius: 0px 3px 3px 0px
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    p
      max-width: 565px
      color: #fff
      &:not(:last-of-type)
        margin-bottom: 30px

.tabs
  cursor: pointer
  &-h
    padding: 30px 25px 0 35px
    color: #000
    display: none
    &.active
      display: block
  li
    font-size: 17px
    line-height: 27px
    color: #2E2E2E
    font-weight: 600
    position: relative
    transition: all .5s
    &:not(:first-of-type)
      padding-top: 20px
      &::after
        top: 20px
    &:not(:last-of-type)
      padding-bottom: 20px
      border-bottom: 1px solid rgba(46, 46, 46, 0.15)
    &.active
      &::after
        transform: rotate(180deg)
    &::after
      content: url('../img/arrb.svg')
      position: absolute
      top: 0
      right: 0
      transition: all .5s
    &:hover
      color: #59B1BC

.header
  padding: 30px 0 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  color: #fff
  z-index: 100

  &__c
    max-width: 1140px
    width: 100%
    margin: 0 auto
    padding: 0 15px

  &__top
    padding-bottom: 35px
    border-bottom: 1px solid rgba(255, 255, 255, 0.23)
    align-items: center

    +frn

    justify-content: flex-start

  .socials
    margin: 0 80px 0 auto

    a
      &:nth-of-type(1)
        margin-right: 30px

      &:nth-of-type(2)
        margin-right: 15px

  &__bot
    padding-top: 20px
    font-size: 13px
    text-transform: uppercase
    font-weight: 600

  &-nav
    +frn

    li
      &:not(:last-of-type)
        margin-right: 70px

.ben
  li
    font-size: 17px
    position: relative
    line-height: 27px

    &::before
      content: url("../img/arr.svg")
      top: 0
      left: -40px
      position: absolute

.mob
  &-burg
    height: 22px
    width: 33px
    position: relative
    cursor: pointer
    display: none
    &-btn
      display: flex
      flex-flow: column nowrap
      width: 100%
      height: 100%
      cursor: pointer
      justify-content: space-between
      span
        display: block
        width: 30px
        height: 2px
        background-color: #ffffff
    &__sub
      padding-top: 25px
      position: fixed
      z-index: 5
      top: 0
      left: -100%
      height: 100vh
      cursor: auto
      width: 100%
      transition: all .3s
      &.active
        left: 0
    &__wrap
      padding-top: 25px
      position: absolute
      z-index: 5
      top: 0
      left: 0
      height: 100vh
      cursor: auto
      max-width: 270px
      background: #002632
      &.active
        overflow-y: auto
    &__h
      padding: 0 25px 0 15px
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: center
      margin-bottom: 10px
      span
        display: block
        width: 24px
        height: 24px
        position: relative
        z-index: 6
        cursor: pointer
        &:before, &:after
          content: ''
          position: absolute
          display: block
          background: #fff
          height: 2px
          width: 24px
          top: 50%
          transform: translate(0,-50%)
        &:before
          transform: rotate(45deg)
        &:after
          transform: rotate(135deg)
    &__c
      font-size: 14px
      font-weight: 600
      text-transform: uppercase
      padding-top: 15px
      & > li
        & > a
          display: block
          padding: 10px 10px 15px
          &.active
            background: #001d26
            margin-bottom: 10px

  &-phone
    display: none
    height: 30px
    width: 30px
    border: 1px solid #ffffff
    cursor: pointer
    &__open
      color: #fff
      transform: rotate(110deg)
      width: 100%
      height: 100%
      display: flex
      flex-flow: row nowrap
      justify-content: center
      align-items: center
    &__sub
      position: fixed
      top: 0
      right: -100%
      z-index: 5
      width: 100%
      height: 100vh
      transition: all .3s
      z-index: 10
      cursor: auto
      &.active
        right: 0
    &__wrap
      position: absolute
      top: 0
      left: 0
      z-index: 5
      background: #002632
      width: 100%
    &__h
      display: flex
      flex-flow: row nowrap
      justify-content: flex-end
      padding: 20px 14px 0 0
      span
        display: block
        width: 24px
        height: 24px
        position: relative
        cursor: pointer
        &:before, &:after
          content: ''
          position: absolute
          width: 24px
          height: 2px
          background: #fff
          top: 50%
          transform: translate(0, -50%)
        &:before
          transform: rotate(45deg)
        &:after
          transform: rotate(135deg)
    &__c
      padding: 0 0 45px 20px
      h5
        color: #ffffff
        font-size: 16px
        font-weight: 600
        text-transform: uppercase
        margin-bottom: 40px
    &__nav
      li
        &:not(:last-of-type)
          margin-bottom: 15px

.b-c
	display: flex
	flex-flow: row wrap
	margin-bottom: 20px
  font-size: 11px
  font-weight: 600
	&__item
		position: relative
		&:not(:last-of-type)
      span
        text-decoration: underline
      margin-right: 25px
			&:before
				content: '/'
				position: absolute
				right: -15px
				color: #ffffff
				opacity: 0.5
				font-size: 13px
  a
    color: #ffffff !important
    opacity: 0.5

.btn
  border: none
  padding: 0
  background: linear-gradient(118.07deg, #7ADCE8 0%, rgba(122, 220, 232, 0) 39.34%), #2FBBCD
  box-shadow: 0px 24px 40px rgba(1, 107, 120, 0.3)
  border-radius: 3px
  color: #fff
  text-transform: uppercase
  text-align: center
  font-weight: 600
  font-size: 17
  +frn
  justify-content: center
  align-items: center
  transition: all .3s
  max-width: 470px
  width: 100%
  height: 60px
  &:hover
    background: linear-gradient(292.77deg, #7ADCE8 0%, rgba(122, 220, 232, 0) 39.34%), #2FBBCD
    color: #fff

//Blocks

.first
  padding: 182px 0 50px
  color: #fff
  position: relative
  background: url("../img/sec1.png") no-repeat (center / cover) transparent

  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: linear-gradient(180deg, rgba(34, 51, 58, 0.9) 0%, rgba(34, 51, 58, 0.603) 37.57%, rgba(34, 51, 58, 0) 100%)

  p
    font-size: 17px
    font-weight: 600

  &_proc
    padding-bottom: 120px

.license
  padding: 77px 0 65px
  background: #fff
  border-bottom: 1px solid rgba(46, 46, 46, 0.15)

  .t-b
    &2
      text-align: center

      & .img-wrap
        position: relative
        z-index: 3
        max-width: 272px
        margin: 0 auto 20px
        &::before
          content: url('../img/loop.png')
          background: linear-gradient(0deg, rgba(24, 49, 52, 0.4), rgba(24, 49, 52, 0.4))
          position: absolute
          top: 0
          bottom: 0
          right: 0
          left: 0
          display: -webkit-flex
          display: -ms-flex
          display: flex
          flex-flow: row nowrap
          align-items: center
          justify-content: center
          z-index: 2
          opacity: 0
          transition: all .5s
        &:hover::before
          opacity: 1

      img
        width: 100%
        z-index: 1

      p
        font-weight: 600
        font-size: 16px

    & > p
      &:last-of-type
        font-size: 11px
        font-weight: 600

  p
    &:not(:last-of-type)
      margin-bottom: 10px

  .cyan
    margin-bottom: 30px
    color: #fff

.benefits
  padding: 80px 0 90px
  background: #fff

  h2
    margin-bottom: 70px

  .ben
    +frw

    justify-content: space-between

    li
      flex: 0 1 488px

      &:not(:last-of-type)
        margin-bottom: 30px

.examples
  padding: 85px 0 80px
  background: linear-gradient(109.84deg, rgba(122, 220, 232, 0.52) 9.65%, rgba(122, 220, 232, 0) 45.45%), #59B1BC
  color: #fff

  h2, h3
    margin-bottom: 20px

  p
    margin-bottom: 40px

  .table-responsive
    margin-bottom: 25px

    & + p
      margin: 0
      text-align: center

    table
      thead
        background: rgba(255, 255, 255, 0.36)
        padding: 10px 0

        th
          font-size: 13px
          font-weight: 600

      th, td
        border: none
        line-height: 17px
        padding: 10px 0 10px 20px
        vertical-align: middle

      tr
        th
          max-width: 115px

      tbody
        tr
          &:nth-of-type(2n)
            background: rgba(255, 255, 255, 0.06)

          td
            &:first-of-type
              width: 200px
              font-size: 17px
              line-height: 23px
              font-weight: 600

      tfoot
        background: rgba(255, 255, 255, 0.36)

        td
          padding: 20px 0 17px 20px
          font-size: 17px
          line-height: 23px
          font-weight: 600

.details
  background: url("../img/sec5.png") no-repeat (center / cover) #fff
  color: #fff
  padding: 80px 0 90px

  h2
    margin-bottom: 10px

  h3
    margin-bottom: 70px

  p
    margin-bottom: 30px

  & .ben
    background: rgba(24, 49, 52, 0.55)
    border-radius: 3px
    padding: 30px 60px
    margin-bottom: 40px
    +frw
    justify-content: space-between
    li
      flex: 0 1 385px
      line-height: 33px
      &::before
        content: url(../img/arrw.svg)

  .btn
    margin: 0 auto

.conditions
  padding: 100px 0 130px
  .row
    &:first-of-type
      p
        margin-bottom: 65px
  .row
    &:nth-of-type(2)
      margin-bottom: 115px
      p
        margin-bottom: 20px
        font-size: 17px
  h2
    margin-bottom: 15px

  .ben
    &:first-of-type
      border-bottom: 1px solid rgba(46, 46, 46, 0.15)
      margin-bottom: 35px
      padding-bottom: 35px
    li
      &:not(:last-of-type)
        margin-bottom: 20px

.order
  background: url('../img/orbg.png') no-repeat center/cover #000
  color: #fff
  padding: 100px 0 125px
  .row
    &:first-of-type
      margin-bottom: 70px
    &:nth-of-type(2)
      p
        margin-bottom: 30px
  h2
    margin-bottom: 25px
  h3
    margin-bottom: 15px
  input
    margin: 0 auto
    &:not(:last-of-type)
      margin-bottom: 20px

.faq
  padding: 80px 0 100px
  h2
    margin-bottom: 45px

.footer
  background: #224448
  padding: 85px 0 90px
  color: #fff
  &-top
    margin-bottom: 35px
    p
      font-size: 11px
      line-height: 17px
      opacity: 0.45
      &:first-of-type
        opacity: 1
        font-size: 17px
        line-height: 27px
        font-weight: 600
        text-transform: uppercase

  &-bot
    ul
      line-height: 27px
      text-transform: uppercase
      img
        margin-right: 15px

    p
      font-size: 11px
      opacity: .45
      &:not(:last-of-type)
        margin-bottom: 30px

  a
    font-weight: 600
    &:hover
      color: #fff
      text-decoration: underline


@import media
