<section class="license">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="t-b">
          <p>Заявки на получение гражданства подаются в Комиссию по гражданству лицензированным Правительством агентом. Подать прошение на оформление гражданства через интернет или лично не представляется возможным.</p>
          <div class="cyan">
            <p>Посещать остров для подачи документов и сдачи биометрии не требуется. Процесс проходит только при посредничестве сертифицированного специалиста.</p>
          </div>
          <p>(согласно Vanuatu Citizenship Act [CAP 112] Section 20; Citizenship (DSP) Regulation Order No. 215 of 2016; Privileges for Honorary Citizenship (DSP) Regulation Order No. 216 of 2016)</p>
        </div>
      </div>
      <div class="col-md-4 offset-md-1">
        <div class="t-b2">
          <a href="img/photo.png" data-fancybox>
            <div class="img-wrap">
              <img src="img/photo.png" alt="Photo" />
            </div>
          </a>
          <p>Наша лицензия</p>
        </div>
      </div>
    </div>
  </div>
</section>