<section class="sec3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <h2>Преимущества гражданства Вануату</h2>
      </div>
      <div class="col-12">
        <ul class="adv">
          <li><strong>Скоростная проверка кандидатов</strong> - всего 7 дней</li>
          <li><strong>Въезд без визы в 129 стран,</strong> включая Великобританию и государства Шенгена</li>
          <li><strong>Рекордный срок оформления</strong> - от 3 недель до 2 месяцев</li>
          <li>Возможность получить <strong>долгосрочные визы в Соединенные Штаты и Канаду</strong></li>
          <li><strong>Конфиденциальность</strong> процесса получения гражданства</li>
          <li><strong>Визит на Вануату</strong> во время оформления документов <strong>не нужен</strong></li>
          <li>Проживать на острове <strong>не требуется</strong></li>
          <li>Возможность открывать <strong>счета в надежных банках</strong> по всему миру</li>
          <li>Вместе с заявителем получить паспорт могут <strong>все члены семьи</strong></li>
          <li>Возможность <strong>оплаты в биткоинах</strong></li>
          <li><strong>Социальная и политическая стабильность,</strong> основанная на членстве страны в Британском Содружестве Наций</li>
        </ul>
      </div>
    </div>
  </div>
</section>