<section class="details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2>Хотите ознакомиться с деталями программы?</h2>
        <h3>Скачайте гид по паспортной программе Вануату в один клик</h3>
        <p>Гид разъяснит Вам следующие моменты:</p>
      </div>
    </div>
    <div class="col-12">
      <ul class="ben">
        <li>Расчеты всех затрат</li>
        <li>Полный список требуемых документов</li>
        <li>Пошаговый процесс оформления</li>
        <li>Сведения о Вануату</li>
        <li>Условия, которым должен соответствовать заявитель</li>
        <li>Сравнение с программами других стран</li>
      </ul>
      <a href="" class="btn">Скачать презентацию</a>
    </div>
  </div>
</section>