<section class="conditions">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12">
        <h2>Условия и требования для получения граджанства</h2>
        <p>Зачастую, оформление паспорта Вануату длится до 1,5 месяцев. Инвестор должен соответствовать нескольким требованиям:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul class="ben">
          <li>Быть совершеннолетним</li>
          <li>Иметь безукоризненную репутацию</li>
          <li>Не иметь уголовного прошлого по тяжким преступлениям</li>
          <li>Не состоять в списках Интерпола и санкционных списках</li>
        </ul>
        <p><strong>В заявку можно включить:</strong></p>
        <ul class="ben">
          <li>Супруга/Супругу</li>
          <li>Детей младше 25 лет</li>
          <li>Родителей старше 55 лет</li>
        </ul>
      </div>
      <div class="col-md-4 offset-md-1">
        <img src="img/pass.png" alt="Passport Vanuatu">
      </div>
    </div>
    <div class="row">
      <div class="a-pr">
        <div class="a-pr-img-w">
          <img src="img/azzam.png" alt="VRP-MENA">
          <p><strong>Аззам Маклуф</strong> - Один из разработчиков программы VRP-MENA, консул Вануату на Ближнем Востоке.</p>
        </div>
        <div class="a-pr-cont">
          <p>Программа Вануату “гражданство за инвестиции” появилась в 2015 году. При разработке закона правительство государства приняло во внимание негативный опыт иных стран и сделало условия программы комфортными для инвесторов.</p>
          <p>Программу удалось сделать более удобной, чем в других странах. Главный показатель удобства - скорость рассмотрения заявок (4-5 недель) и отсутствие отказов. Программа оказалось эффективной - через нее в страну привлечено более $150 млн.
            иностранных инвестиций.</p>
        </div>
      </div>
    </div>
  </div>
</section>