<section class="faq">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>Ответы на частые вопросы</h2>
      </div>
      <div class="col-12">
        <ul class="tabs">
          <li>
            Кто может получить гражданство вместе с инвестором?
            <div class="tabs-h">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum a augue sit amet consequat. Nulla finibus congue augue ac fringilla. Ut sit amet dolor vehicula, luctus lacus et, eleifend lectus. Nullam ac arcu
              ut massa bibendum dignissim quis iaculis justo. Vivamus at vestibulum ex. Nulla eleifend dictum turpis sed ullamcorper. Vivamus bibendum fringilla purus. </div>
          </li>
          <li>
            Кто может получить гражданство вместе с инвестором?
            <div class="tabs-h">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum a augue sit amet consequat. Nulla finibus congue augue ac fringilla. Ut sit amet dolor vehicula, luctus lacus et, eleifend lectus. Nullam ac arcu
              ut massa bibendum dignissim quis iaculis justo. Vivamus at vestibulum ex. Nulla eleifend dictum turpis sed ullamcorper. Vivamus bibendum fringilla purus. </div>
          </li>
          <li>
            Кто может получить гражданство вместе с инвестором?
            <div class="tabs-h">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum a augue sit amet consequat. Nulla finibus congue augue ac fringilla. Ut sit amet dolor vehicula, luctus lacus et, eleifend lectus. Nullam ac arcu
              ut massa bibendum dignissim quis iaculis justo. Vivamus at vestibulum ex. Nulla eleifend dictum turpis sed ullamcorper. Vivamus bibendum fringilla purus. </div>
          </li>
          <li>
            Кто может получить гражданство вместе с инвестором?
            <div class="tabs-h">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum a augue sit amet consequat. Nulla finibus congue augue ac fringilla. Ut sit amet dolor vehicula, luctus lacus et, eleifend lectus. Nullam ac arcu
              ut massa bibendum dignissim quis iaculis justo. Vivamus at vestibulum ex. Nulla eleifend dictum turpis sed ullamcorper. Vivamus bibendum fringilla purus. </div>
          </li>
          <li>
            Кто может получить гражданство вместе с инвестором?
            <div class="tabs-h">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum a augue sit amet consequat. Nulla finibus congue augue ac fringilla. Ut sit amet dolor vehicula, luctus lacus et, eleifend lectus. Nullam ac arcu
              ut massa bibendum dignissim quis iaculis justo. Vivamus at vestibulum ex. Nulla eleifend dictum turpis sed ullamcorper. Vivamus bibendum fringilla purus. </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>