<section class="conditions conditions_2">
  <div class="container">
    <div class="row">
      <div class="a-pr">
        <div class="a-pr-img-w">
          <img src="img/azzam.png" alt="VRP-MENA">
          <p><strong>Аззам Маклуф</strong> - Один из разработчиков программы VRP-MENA, консул Вануату на Ближнем Востоке.</p>
        </div>
        <div class="a-pr-cont">
          <p>Программа Вануату “гражданство за инвестиции” появилась в 2015 году. При разработке закона правительство государства приняло во внимание негативный опыт иных стран и сделало условия программы комфортными для инвесторов.</p>
          <p>Программу удалось сделать более удобной, чем в других странах. Главный показатель удобства - скорость рассмотрения заявок (4-5 недель) и отсутствие отказов. Программа оказалось эффективной - через нее в страну привлечено более $150 млн.
            иностранных инвестиций.</p>
        </div>
      </div>
    </div>
  </div>
</section>