<section class="order order_2">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-10">
        <h2>Закажите индивидуальную консультацию специалиста по Вануату</h2>
      </div>
      <div class="col-lg-8">
        <p>Мигронис ознакомит с нюансами паспортной программы Вануату, ее плюсами и минусами, на примере реальных кейсов.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
        <h3>Заполните форму</h3>
        <p>Наш эксперт по программе Вануату обсудит с Вами детали процесса</p>
        <form action="">
          <input type="text" name="name" placeholder="Имя" required>
          <input type="text" name="mail" placeholder="E-mail" required>
          <input type="phone" name="phone" placeholder="Телефон" required>
          <input type="submit" value="Отправить" class="btn">
        </form>
      </div>
    </div>
  </div>
</section>