<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>О нас</p>
          <p>Почему клиенты выбирают нас?</p>
        </div>
        <div class="col-md-4 offset-md-1">
          <p>Меню</p>
        </div>
        <div class="col-md-4">
          <p><a href="tel:380442908657">+ 38 044 290 86 57</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bot">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              <a href="tel:448081892442">
                <img src="img/gb.svg" alt="GB">
                +44 808 189 2442
              </a>
            </li>
            <li>
              <a href="tel:37052080929">
                <img src="img/EU.svg" alt="EU">
                +3 705 208 09 29
              </a>
            </li>
            <li>
              <a href="tel:74993502137">
                <img src="img/ru.svg" alt="RU">
                +7 499 350 21 37
              </a>
            </li>
            <li>
              <a href="tel:77273505965">
                <img src="img/kz.svg" alt="KZ">
                +7 727 350 59 65
              </a>
            </li>
            <li>
              <a href="tel:380442908657">
                <img src="img/ukr.svg" alt="UKR">
                +38 044 290 86 57
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 offset-md-1">
          <ul>
            <li>
              <a href="">Процесс оформления</a>
            </li>
            <li>
              <a href="">О компании</a>
            </li>
            <li>
              <a href="">Блог</a>
            </li>
            <li>
              <a href="">Стать партнером</a>
            </li>
            <li>
              <a href="">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <a href="" class="logo">Vanuatu citizenship program</a>
          <p>All rights reserved</p>
          <p>Данный сайт использует Cookies</p>
          <p>Используя данный сайт, вы даете нам согласие на обработку файлов cookies, в соответствии с текущими настройками браузера</p>
        </div>
      </div>
    </div>
  </div>
</footer>