<header class="header">
  <div class="header__c">
    <div class="header__top">
      <div class="mob-burg">
        <div class="mob-burg-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="mob-burg__sub">
          <div class="mob-burg__wrap">
            <div class="mob-burg__h">
              <span></span>
              <div class="lang">
                <div class="lang-v">
                  <a href="#">
                    <div class="lang-wrap">
                      <img src="img/ruf.png" alt="RU">
                    </div>
                    RU
                  </a>
                </div>
                <div class="lang-h">
                  <a href="#">
                    <div class="lang-wrap">
                      <img src="img/enf.png" alt="EN">
                    </div>
                    EN
                  </a>
                </div>
              </div>
            </div>
            <ul class="mob-burg__c">
              <li>
                <a href="">Процесс оформления</a>
              </li>
              <li>
                <a href="">О Компании</a>
              </li>
              <li>
                <a href="">Блог</a>
              </li>
              <li>
                <a href="">Стать партнером</a>
              </li>
              <li>
                <a href="">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a href="" class="logo">
        Vanuatu citizenship program
      </a>
      <div class="mob-phone">
        <div class="mob-phone__open">
          <span class="fas fa-phone"></span>
        </div>
        <div class="mob-phone__sub">
          <div class="mob-phone__wrap">
            <div class="mob-phone__h">
              <span class="mob-close"></span>
            </div>
            <div class="mob-phone__c">
              <h5>Связаться с нами</h5>
              <ul class="mob-phone__nav">
                <li><a href="tel:+380442908657">+ 38 044 290 86 57</a></li>
                <li>
                  <div class="socials">
                    <a href="">
                      <i class="fab fa-telegram"></i>
                    </a>
                    <a href="">
                      <i class="fab fa-whatsapp"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="socials">
        <a href="tel:38 044 290 86 57">+38 044 290 86 57</a>
        <a href="">
          <i class="fab fa-telegram"></i>
        </a>
        <a href="">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
      <div class="lang">
        <div class="lang-v">
          <a href="#">
            <div class="lang-wrap">
              <img src="img/ruf.png" alt="RU">
            </div>
            RU
          </a>
        </div>
        <div class="lang-h">
          <a href="#">
            <div class="lang-wrap">
              <img src="img/enf.png" alt="EN">
            </div>
            EN
          </a>
        </div>
      </div>
    </div>
    <div class="header__bot">
      <ul class="header-nav">
        <li>
          <a href="#">Процесс оформления</a>
        </li>
        <li>
          <a href="#">О Компании</a>
        </li>
        <li>
          <a href="#">Блог</a>
        </li>
        <li>
          <a href="#">Стать партнером</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</header>