<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NAME</title>
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="#">
  <meta property="og:site_name" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="favicon_16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="favicon_32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon_96x96.png" sizes="96x96">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  //= rawhtml/header.html
  //= rawhtml/proc/sec1.html
  //= rawhtml/proc/sec9.html
  //= rawhtml/proc/sec10.html
  //= rawhtml/proc/sec11.html
  //= rawhtml/proc/sec7.html
  //= rawhtml/footer.html

  <script src="js/libs.min.js"></script>
</body>

</html>